<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Intelligent Library Management system for both the administrations and the students."
    />
    <title>Intelligent Library Management System</title>
    <link rel="stylesheet" href="/static/css/styleLogIn.css" />
    <script defer src="/static/js/scriptLogIn.js"></script>
    <link rel="icon" href="/static/img/logo.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <link
    href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Play&family=Tourney&display=swap"
    rel="stylesheet"
  />
  </head>
  <body>
    <video autoplay loop muted plays-inline src="/static/video/library.mp4" type = video/ class="video"></video>
    <header class="nav">
      <div class="header-logo">
        <a href="{% url 'home' %}" class="ils-logo-link">
          <img class="ils-logo" src="/static/img/logo.jpg" alt="ils logo" />
        </a>
      </div>
      <h1 class="nav-header">Intelligent Library Management System</h1>
      <nav class="main-nav">
        <ul class="hero-nav-list">
          <li><a class="hero-nav about" href="#about">About</a></li>
          <!-- <li><a class="hero-nav show-modal" href="#sign-up">Sign up</a></li> -->
        </ul>
      </nav>
    </header>
    <main>
      <section class="section-hero">
        <!-- <div class="header-1">
          <h1 class="choose">Choose Account Type</h1>
        </div> -->
        <div class="avatars">
          <img
            class="avatar-img admin"
            src="/static/img/admin.jfif"
            alt="picture of admin"
          />
          <!-- <img
            class="avatar-img student"
            src="img/student.jpg"
            alt="picture of student"
          /> -->
        </div>
        <div class="header-2">
          <h3 class="text">Hello <span class="inline">Admin</span></h3>
          <h3>Log In below to get started</h3>
        </div>
        <form class="main-form" method="POST">
          {% csrf_token %}
          <div class="form">
            <input
              id="email"
              name="username"
              placeholder="username"
              required="required"
            />
          </div>
          <div class="form">
            <input
              id="password"
              name="password"
              type="password"
              placeholder="password"
              required="required"
            />
          </div>
          <button class="form-button btn">Log In</button>
        </form>
        <div class="last">
          <p class="forgot">Forgot Password?</p>
          <a class="here" href="">click here</a>
        </div>
      </section>
    </main>
    <div class="modal hidden">
      <button class="close-modal">&times;</button>
      <img class="modal-img" src="/static/img/logo.jpg" alt="image of logo">
      <div  class="signup">
        <p class="one">Intelligent Library Management System</p>
        <div class="two">
          <p class="two-one">Already Signed up?</p>
          <a class="two-two" href="login.html">
            Log IN
          </a>
        </div>
        <div class="three">
          <button class="three-admin">ADMIN</button>
          <button class="three-student">STUDENT</button>
        </div>
        <form class="four">
          <div class="form">
            <input class="username inp"
            name="username"
            placeholder="username"
            required="required">
          </div>
          <div class="form">
            <input class="email inp"
            name="email"
            type="email"
            placeholder="email"
            required="required">
          </div>
          <div class="form">
            <input class="password inp"
            name="password"
            type="password"
            placeholder="password"
            required="required">
          </div>
          <div class="form">
            <input class="password inp"
            name="password"
            type="password"
            placeholder="confirm password"
            required="required">
          </div>
          <div class="form">
            <input class="student-ID inp"
            name="studentID"
            placeholder="student ID"
            required="required">
          </div>
          <div class="form">
            <input class="admin-key inp"
            name="admin-key"
            placeholder="admin key"
            required="required">
          </div>
          <button class="four-signup">Sign Up</button>
        </form>
      </div>
    </div>
    <div class="overlay hidden"></div>
    <div class="about-modal hidden">
      <button class="about-close-modal">&times;</button>
      <div class="about-container">
      <h1>This is the about page</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda maiores illo ullam cumque aperiam nisi aliquid consequatur tempora, placeat error adipisci sint cupiditate eum est rerum suscipit aliquam repudiandae labore?</p>
    </div>
    </div>
  </body>
</html>
