<style>
    /* Style for the back button */
    .btn {
        background-color: #D2B48C;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

    /* Style for the book list */
    .book-list {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #ddd;
    }

    /* Style for the book titles */
    .book-list h2 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    /* Style for the book details */
    .book-list h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    /* Style for the links */
    .book-list a {
        color: #007bff;
        text-decoration: none;
    }

    /* Style for the links on hover */
    .book-list a:hover {
        text-decoration: underline;
    }

    /* Style for the message when no defect books are found */
    .no-defect-books {
        font-size: 24px;
        text-align: center;
        margin-top: 20px;
    }
</style>

<a href="{% url 'mMainPage'%}" class="btn"> Back </a>
{% load custom_filters %}

<br>

{% if defect_books|list_length == 0 %}
    <div class="no-defect-books">
        <h2> Everything is fine. No book  received complaints </h2>
    </div>
{% else %}
    <div class="book-list">
        <h2> Books show below are defect:  </h2>
        <hr>
        {% for d in defect_books %}
        <div>
            <a href="{% url 'handlingComplaint' d.isbn%}">
                <h2>{{ d.title }}</h2>
                <h3>Author: {{d.author}}</h3>
                <h3>ISBN: {{d.isbn}}</h3>
            </a>
            <hr>
        </div>
        {% endfor %}
    </div>
{% endif %}