* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
}

body {
  background-image: linear-gradient(to top left, #d4cca9, #d5bb44);
  font-size: 1.6rem;
  line-height: 1;
  font-family: "Play", sans-serif;
  font-weight: 400;
  color: #555;
}
button {
  background-color: #00bfff;
  border: none;
  border-radius: 0 25px 25px 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main {
  height: 100vh;
  padding: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.btn-1,
.btn-2,
.btn-3,
.btn-4,
.btn-5 {
  margin: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #333;
  color: #fff;
}

.btn-1 {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #333;
}

.btn-2 {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #fff;
}

.btn-3 {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.btn-4 {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-5 {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.submit {
  border-radius: 20px;
}

.one,
.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.books,
.enter {
  font-size: large;
  font-weight: bold;
}

.input {
  width: 30rem;
  height: 15rem;
  background-color: #a1c7d3;
}

.select {
  background-color: #a1c7d3;
}
